
# ENVIRONMENT VARIABLES 
.env
.env*
*.env

**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/

.geminiignore
context.md

# File konfigurasi
**/android/local.properties
**/android/key.properties
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Dependencies / Packages cache
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/


.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.idea/
*.iml
*.ipr
*.iws


.DS_Store
.AppleDouble
.LSOverride
Icon

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/


*.log
*.sqlite
*.sqlite3
**/backend/*.bak
**/backend/*.tmp